<%- include('partials/header') -%>

    <h1>You've made it here!</h1>
    <table>
        <tr>
            <td>Ratio</td>
            <td>Ingredient</td>
            <td>Weight</td>
            <td>Water</td>
            <td>Dairy fat/Oil</td>
            <td>Sugar</td>
            <td>Cocoa butter</td>
        </tr>
        <% selection.forEach( el => { %>
            <tr class="ingredient" data-id='<%=el._id%>'>
                <td><%= el.ratio %>%</td>
                <td><%= el.ingredient %></td>
                <td><%= el.ratio / 100 * 250 %>g</td>
                <td><%= (el.ratio / 100 * el.water).toFixed(2) %>%</td>
                <td><%= (el.ratio / 100 * el.fat).toFixed(2) %>%</td>
                <td><%= (el.ratio / 100 * el.sugar).toFixed(2) %>%</td>
                <td><%= (el.ratio / 100 * el.cocoaButter).toFixed(2) %>%</td>
            </tr>    
            <% }) %>
            <tr>
                <td>100%</td>
                <td>Totals</td>
                <td>250g</td>
                <td>
                <% const waterTotal = selection.map(ingr => { %>
                    <%  return ingr.ratio / 100 * ingr.water %>
                    <% }) %>
                <%= (waterTotal.reduce((total, current) => total + current, 0)).toFixed(2) %>%
                    
                </td>
                <td>
                <% const fatTotal = selection.map(ingr => { %>
                    <%  return ingr.ratio / 100 * ingr.fat %>
                    <% }) %>
                <%= (fatTotal.reduce((total, current) => total + current, 0)).toFixed(2) %>%
                </td>
                <td>
                <% const sugarTotal = selection.map(ingr => { %>
                    <%  return ingr.ratio / 100 * ingr.sugar %>
                    <% }) %>
                <%= (sugarTotal.reduce((total, current) => total + current, 0)).toFixed(2) %>%
                </td>
                <td>
                <% const cocoaButterTotal = selection.map(ingr => { %>
                    <%  return ingr.ratio / 100 * ingr.cocoaButter %>
                    <% }) %>
                <%= (cocoaButterTotal.reduce((total, current) => total + current, 0)).toFixed(2) %>%
                </td>
            </tr>
    </table>
    <button type="submit" id="save-recipe">Save recipe</button>
<%- include('partials/footer') -%>
