<%- include('partials/header') -%>

    <h1>Recipe Calculator</h1>
    <table>
        <tr>
            <th>Ratio</th>
            <th>Ingredient</th>
            <th>Grams</th>
            <th>Water %</th>
            <th>Dairy fat/Oil %</th>
            <th>Sugar %</th>
            <th>Cocoa butter %</th>
        </tr>
        <% calculated.forEach( el => { %>
            <tr class="ingredient" data-id='<%=el._id%>'>
                <td><%= el.ratio %>%</td>
                <td class="ingredient-name"><%= el.ingredient %></td>
                <td class="ingredient-amount"><%= el.amount %>g</td>
                <td><%= el.water %></td>
                <td><%= el.fat %></td>
                <td><%= el.sugar %></td>
                <td><%= el.cocoaButter %></td>
            </tr>    
            <% }) %>
            <tr>
                <% for (const total in totals) { %>
                <td><%= totals[total] %></td>
                <% } %>
            </tr>
    </table>
    <button type="submit" id="save-recipe">Save recipe</button>
<%- include('partials/footer') -%>
